<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Awesome!</h4>
        <p>Aww yeah, you successfully reported the issue. This submission has triggred a backend issue creation which can be tracked with team's JIRA board.</p>
        <!--<p class="mb-0"><strong>Your Issue Id is: <a target="_blank" href="https://customer360-monsanto.atlassian.net/projects/${issue.jiraprojectkey}/issues/${issue.jiraissuekey}">${issue.jiraissuekey}</a></strong></p>-->
        <!--<p class="mb-2">The developers for the project has been notified. New slack message conversation has also been started in <strong><a target="_blank" href="https://monslacko.slack.com/archives/${issue.slackchannelid}/p${issue.slackmessageid}">#${issue.slackchannelname}</a></strong></p>-->
        <p class="mb-4">You can click the link below to view and join into the conversation. If you have any more things to explain explaining there is a good way to let developers know.</p>
        <!--<p class="mb-6"><strong><a target="_blank" href="https://monslacko.slack.com/archives/${issue.slackchannelid}/p${issue.slackmessageid}">Click here to join the conversation</a></strong></p>-->
      </div>

      <div class="alert alert-danger" role="alert">
        <p>There was some issue while creating and submitting your issue.</p>
        <!--<p class="mb-0">Please submit your issue at: <a target="_blank" href="https://monslacko.slack.com/archives/${issue.slackchannelid}"><strong>#${issue.slackchannelname}</strong></a></p>-->
      </div>

    <p class="mb-6"><strong><a >Report Another Issue</a></strong></p>
  </div>
</div>
</div>
