<div class="container">

  <!-- second part-->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6  col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6  col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text" routerLink="/report">Sandy</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- second part-->
 
</div>