<div class="container">

  <!-- one part-->
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="well well-sm">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="assets/images/1.jpeg">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Jose Kinsella</h4>
            <p><span class="label label-info">10 photos</span> <span class="label label-primary">89 followers</span></p>
            <p>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span> Message</a>
              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- one part-->


  <!-- second part-->
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6  col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6  col-xs-12">
      <div class="card">
        <div class="card-header-sample">Jose Kinsella</div>
        <div class="card-body-sample">
          <img src="assets/images/1.jpeg">
          <h4 class="card-text">Sandy</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- second part-->


  <!-- Thire part-->
  <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
          <div class="card-content sample-one">
            <div class="card-body sample-one-body">
              <h4 class="card-text">Sandy</h4>
              <hr>
              <h6>inspiration</h6>
              <div class="sample-body">
                   ghhdakshfkaskgf 
                   kagkagsfkjagkfalhfj 
                   lkahlkjfhalhfdlj 
                   dahlfjkagjahsjfhjkl 
                   afkagfjklgajklgjklaghjlk 
                   aglagfkagkgkafjklgakg 
                   kasdakhfkashfdk 
                   gaksdfhhagfhk 
                   jasfghkjagfdjk 
                   hgakjfgkagfdhjkga
              </div>
            </div>
          </div>
        </div>
    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
        <div class="card-content sample-one">
          <div class="card-body sample-one-body">
            <h4 class="card-text">Sandy</h4>
            <hr>
            <h6>inspiration</h6>
            <div class="sample-body">
                 ghhdakshfkaskgf 
                 kagkagsfkjagkfalhfj 
                 lkahlkjfhalhfdlj 
                 dahlfjkagjahsjfhjkl 
                 afkagfjklgajklgjklaghjlk 
                 aglagfkagkgkafjklgakg 
                 kasdakhfkashfdk 
                 gaksdfhhagfhk 
                 jasfghkjagfdjk 
                 hgakjfgkagfdhjkga
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
      <div class="card-content sample-one">
        <div class="card-body sample-one-body">
          <h4 class="card-text">Sandy</h4>
          <hr>
          <h6>inspiration</h6>
          <div class="sample-body">
               ghhdakshfkaskgf 
               kagkagsfkjagkfalhfj 
               lkahlkjfhalhfdlj 
               dahlfjkagjahsjfhjkl 
               afkagfjklgajklgjklaghjlk 
               aglagfkagkgkafjklgakg 
               kasdakhfkashfdk 
               gaksdfhhagfhk 
               jasfghkjagfdjk 
               hgakjfgkagfdhjkga
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
        <div class="card-content sample-one">
          <div class="card-body sample-one-body">
            <h4 class="card-text">Sandy</h4>
            <hr>
            <h6>inspiration</h6>
            <div class="sample-body">
                 ghhdakshfkaskgf 
                 kagkagsfkjagkfalhfj 
                 lkahlkjfhalhfdlj 
                 dahlfjkagjahsjfhjkl 
                 afkagfjklgajklgjklaghjlk 
                 aglagfkagkgkafjklgakg 
                 kasdakhfkashfdk 
                 gaksdfhhagfhk 
                 jasfghkjagfdjk 
                 hgakjfgkagfdhjkga
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
          <div class="card-content sample-one">
            <div class="card-body sample-one-body">
              <h4 class="card-text">Sandy</h4>
              <hr>
              <h6>inspiration</h6>
              <div class="sample-body">
                   ghhdakshfkaskgf 
                   kagkagsfkjagkfalhfj 
                   lkahlkjfhalhfdlj 
                   dahlfjkagjahsjfhjkl 
                   afkagfjklgajklgjklaghjlk 
                   aglagfkagkgkafjklgakg 
                   kasdakhfkashfdk 
                   gaksdfhhagfhk 
                   jasfghkjagfdjk 
                   hgakjfgkagfdhjkga
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4">
            <div class="card-content sample-one">
              <div class="card-body sample-one-body">
                <h4 class="card-text">Sandy</h4>
                <hr>
                <h6>inspiration</h6>
                <div class="sample-body">
                     ghhdakshfkaskgf 
                     kagkagsfkjagkfalhfj 
                     lkahlkjfhalhfdlj 
                     dahlfjkagjahsjfhjkl 
                     afkagfjklgajklgjklaghjlk 
                     aglagfkagkgkafjklgakg 
                     kasdakhfkashfdk 
                     gaksdfhhagfhk 
                     jasfghkjagfdjk 
                     hgakjfgkagfdhjkga
                </div>
              </div>
            </div>
          </div>
  </div>
  <!-- Third part-->
</div>